body {
    background-color: #E6FCF5;
}
.header,
.text {
    color: #373C3C;
}
.header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.header.main {
    font-size: 32px;
}
.header.sub {
    font-size: 24px;
}
.text {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
}
.text .item {
    font-size: 16px;
    font-weight: lighter;
}